* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --body-padding: 1rem;
}

/* Assets */
@font-face {
  font-family: Apex;
  src: url(Apex_Regular.otf);
}

.button {
  box-shadow: 0.25rem 0.25rem grey;
  background-color: #fa7f7f;
  color: black;
  padding: 0.5rem;
  transition: 0.25s;
}
.button:hover {
  box-shadow: 0.5rem 0.5rem grey;
  filter: brightness(1.15);
}

body {
  width: 100vw;
  height: 100vh;
  /* padding: 1rem; */
  background-color: #fff5bf;

  display: flex;
  flex-direction: column;
}

section.top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: var(--body-padding);

  font-family: Apex;
  font-size: 1.25rem;
}

section.top a {
  color: black;
  text-decoration: none;
  transition: 0.25s;
}

section.top a:hover {
  font-size: 1.5rem;
  text-decoration: underline;
}

section.top #logo {
  width: 5rem;
}

section.top nav a {
  margin: 0 1rem;
}

section.top .accns {
  display: flex;
  align-items: center;
}

section.top .accns a {
  margin: 0 1rem;
  border: 0.1rem solid black;
  border-radius: 0.25rem;
}

section.top .hamburger {
  display: none;

  flex-direction: column;
  cursor: pointer;
}

section.top .hamburger span {
  width: 2rem;
  height: 0.25rem;
  background-color: black;
  margin: 0.25rem 0;
  border-radius: 0.5rem;
}

section.main {
  flex: 1;

  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 0 var(--body-padding);

  font-family: Apex;

  text-align: center;
}

section.main #hero-desktop {
  width: 50%;
}

section.main #hero-mobile {
  display: none;

  width: 100%;
}

section.main .message {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.main .message h1 {
  font-size: 4rem;
  text-decoration: underline;
}

section.main .message h2 {
  font-size: 2rem;
}

section.main .message #join-the-games {
  width: 100%;
  /* padding: 1rem; */
  text-align: center;
  border-radius: 0.5rem;
}

section.main .message p {
  font-family: sans-serif;
  margin: 0.75rem 0;
  font-size: 0.75rem;
}

footer {
  background-color: #4b4b4b;
}

footer a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--body-padding);

  font-family: sans-serif;
  color: white;

  text-transform: capitalize;

  text-decoration: none;
}
